<hr>
    <section class="hero1">
        <span class="pie">
           <h2 class="titulo">INFO</h2>
           <% if(pagina == 2){} %>
           <a href="principal">Inicio&nbsp;&nbsp;</a>
           <i class="fa-solid fa-house "></i><br><br>
           <% if(pagina == 6){} %>
           <a href="userupdate">Editar/Agregar Usuario&nbsp;&nbsp;</a>
           <i class="fa-solid fa-users"></i><br><br>
           <% if(pagina == 10){} %>
           <a href="vistaproducto">Editar/Agregar Producto&nbsp;&nbsp;</a>
           <i class="fa-solid fa-parachute-box"></i><br><br>
           <% if(pagina == 9){} %>
           <a href="listado">Listado de Pedidos&nbsp;&nbsp;</a>
           <i class="fa-solid fa-truck"></i><br><br>
           <% if(pagina == 8){} %>
           <a href="transacciones">Transacciones&nbsp;&nbsp;</a>
           <i class="fa-solid fa-money-check-dollar"></i>
           <br><br> 
        </span>
        <span class="pie2">
            <h2 class="titulo">VELAROMA</h2>
            <p>2022</p>
            <a>@velaroma&nbsp;&nbsp;</a><i class="fa-brands fa-instagram"></i><br><br>
            <a>Ciudad de Panamá</a><br><br>
            <a>+507 6319-4033&nbsp;&nbsp;</a><i class="fa-brands fa-whatsapp"></i>
        </span>
    </section>
    <hr>
    <span class="pie3">
        <p>@ 2022, Velaroma-Velas,Inciesno & Personalizacion</p>
     </span>