<span class="pie3">
    <a>2022 &nbsp;&nbsp;</a><br><br>
    <a>@velaroma &nbsp;&nbsp;</a><i class="fa-brands fa-instagram"></i>
    <a>&nbsp;&nbsp;Ciudad de Panamá&nbsp;&nbsp;</a><br><br>
    <a>+507 6319-4033&nbsp;&nbsp;</a><i class="fa-brands fa-whatsapp"></i>
 </span>