
<section>
    <form action="userupdate">
        <fieldset>
            <div class="subtitulo">
                <br>
                <H2>Agregar Producto</H2>
            </div> 
            <div class="entradas">
            <p class="subtitulos">Nombre del producto</p>
           <input type="text">
            <p class="subtitulos">Cantidad producto</p>
            <input type="number">
            <p class="subtitulos">Precio x producto</p>
            <input  type="number">
            <p class="subtitulos">Tipo de producto</p>
            </div>
            <select name="Tipo">
                <option value="Vela">Vela</option>
                <option value="Incienso">Incienso</option>
                <option value="Insumo">Insumo</option>
            </select>
            <p class="subtitulos">Tipo de Insumo</p>
            <select name="Tipo">
                <option value="aceite">Aceite</option>
                <option value="fragancia">Fragancia</option>
                <option value="cera">Cera</option>
            </select>         
            <br>
            <div class="botones"> 
                <div class="btn1">
                <input class="enviar" type="submit" name="enviar" value="AGREGAR">
                </div>
                <BR>
                <div class="btn2">
                <input class="cancelar" type="reset" name="cancelar" value="CANCELAR" >
            </div>
            </div> 
            
        </fieldset>
    </form>
</section>
