<section>
    <form action="reescribir">
        <fieldset>
            <div class="subtitulo">
                <br>
                <H2>CODIGO DE VERIFICACIÓN</H2>
            </div> 
            <div class="entradas">
                Ingrese el codigo de Verificación:
                <br>
                <br>
                <input name="codigo" type="text">
                <br>
                <br>
            <div class="botones"> 
                <div class="btn1">
                <input class="enviar" type="submit" name="enviar" value="CONFIRMACION">
                </div>
                <BR>
                <div class="btn2">
                <input class="cancelar" type="reset" name="cancelar" value="CANCELAR" >
            </div>
            </div> 
            </div>
        </fieldset>
    </form>
</section>