<section>
    <form action="userupdate">
        <fieldset>
           
            <div class="subtitulo">
                <br>
                <H2>Editar Usuario</H2>
            </div> 
            <div class="entradas">
                Nombre:
               <input type="text" name="nombre" required placeholder="SuNombre">
               <br>
               <br>
               Apellido:
               <input type="text" name="apellido" required placeholder="Suapellido">
               <br>
               <br>
               Correo:
               <input type="email" name="correo" required placeholder="alguien@gmail.com">
               <br>
               <br>
               Contraseña:
               <input type="text" name="password" required placeholder="********">
               <br>
               <br>
               Tipo de Usuario
               <br>
               <input type="radio" name="usuario" value="1" checked>Administrador
               <br>
               <input type="radio" name="usuario" value="2" checked>Usuario Estandar
               <br>
               <br>
            <div class="botones"> 
                <div class="btn1">
                <input class="enviar" type="submit" name="enviar" value="EDITAR">
                </div>
                <BR>
                <div class="btn2">
                <input class="cancelar" type="reset" name="cancelar" value="CANCELAR" >
            </div>
            </div> 
            </div>
        </fieldset>
    </form>
</section>