    <section>
        <form action="vistaproducto">
            <fieldset>
                <div class="subtitulo">
                    <br>
                    <H2>Editar Producto</H2>
                    <p class="subtitulos">Nombre del producto</p>
                    <input type="text" placeholder="Velas aromaticas">
                    <p class="subtitulos">Cantidad producto</p>
                    <input type="number" placeholder="24">
                    <p class="subtitulos">Precio x producto</p>
                    <input type="number" placeholder="6.99">
                    <p class="subtitulos">Tipo de producto</p>
                    <select name="Tipo">
                        <option value="Vela">Vela</option>
                        <option value="Incienso">Incienso</option>
                        <option value="Insumo">Insumo</option>
                    </select>
                    <p class="subtitulos">Tipo de Insumo</p>
                    <select name="Tipo">
                        <option value="aceite">Aceite</option>
                        <option value="fragancia">Fragancia</option>
                        <option value="cera">Cera</option>
                    </select>
                <br>
                <br>
                <div class="botones"> 
                    <div class="btn1">
                    <input class="enviar" type="submit" name="enviar" value="AGREGAR">
                    </div>
                    <BR>
                    <div class="btn2">
                    <input class="cancelar" type="reset" name="cancelar" value="CANCELAR" >
                </div>
                </div>      
            </fieldset>
        </form>
    </section>
    
    