<section>
    <form action="/">
        <fieldset>
            <div class="subtitulo">
                <br>
                <i class="fa-solid fa-right-to-bracket"></i>
                <H2>ACTUALIZAR CONTRASEÑA</H2>
            </div> 
            <div class="entradas">
                <i class="fa-solid fa-key"></i>
                <br>
                Escriba su contraseña:
                <br>
                <br>
                <input name="password1" type="password">
                <br>
                <br>
                <i class="fa-solid fa-key"></i>
                <br>
               Reescriba su contraseña:
                <br>
                <br>
                <input name="password2" type="password">
                <br>
                <br>
            <div class="botones"> 
                <div class="btn1">
                <input class="enviar" type="submit" name="enviar" value="ACTUALIZAR">
                </div>
                <BR>
                <div class="btn2">
                <input class="cancelar" type="reset" name="cancelar" value="CANCELAR" >
            </div>
            </div> 
            </div>
        </fieldset>
    </form>
</section>