<table>
    <caption><h1 color="black" class="usertitulo">Listado de Usuario</h1></caption>
<tr>
    <th> <a href="useredit" class="agregar"> Agregar </a> </th>
    <th>ID</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Correo</th>
    <th>Tipo de Usuario</th>
    <th>Accion</th>
</tr> 
    <tr>
        <td></td>
        <td>1</td>
        <td>Wencers</td>
        <td>Castillo</td>
        <td>Wencerscastillo@gmail.com</td>
        <td>Administrador</td>
        <td> 
            <% if(pagina == 7){} %>
            <a style="color: black;" href="useredit" class="boton"> Editar </a>
            <br><br>
            <button class="boton" onclick= ""> Eliminar </button>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>2</td>
        <td>Betzaida</td>
        <td>Smith</td>
        <td>Betzaidasmith@gmail.com</td>
        <td>Usuario Estandar</td>
        <td> <% if(pagina == 7){} %>
            <a style="color: black;" href="useredit" class="boton"> Editar </a>
            <br><br>
            <button class="boton" onclick= ""> Eliminar </button>
        </td>
    </tr> 
    <tr>
        <td></td>
        <td>3</td>
        <td>Jefferson</td>
        <td>Ramirez</td>
        <td>Jeffersonramirez@gmail.com</td>
        <td>Usuario Estandar</td>
        <td><% if(pagina == 7){} %>
            <a style="color: black;" href="useredit" class="boton"> Editar </a>
            <br><br>
            <button class="boton" onclick= ""> Eliminar </button>
        </td>
    </tr> 

    <tr>
        <td></td>
        <td>4</td>
        <td>Daniel</td>
        <td>Campos</td>
        <td>DanielCampos@gmail.com</td>
        <td>Usuario Estandar</td>
        <td> 
            <% if(pagina == 7){} %>
            <a style="color: black;" href="useredit" class="boton"> Editar </a>
            <br><br>
            <button class="boton" onclick= ""> Eliminar </button>
        </td>
    </tr> 
</table>