<table>
    <caption><h1 color="black">Transacciones</h1></caption>
<tr>
    <th>No Transaccion</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Dirección</th>
    <th>Descripción</th>
    <th>Fecha de Ingreso</th>
    <th>Monto</th>
    <th>Estado de Transaccion</th>
</tr> 

    <tr>
        <td>123456</td>
        <td>Wencers</td>
        <td>Castillo</td>
        <td>Panamá Centro</td>
        <td>Velas con olor a coco</td>
        <td>30/05/2022</td>
        <td>15.00</td>
        <td>En Proceso</td>
    </tr>
    <tr>
        <td>654312</td>
        <td>Luigi</td>
        <td>Santana</td>
        <td>Panamá Centro</td>
        <td>Incienso</td>
        <td>30/05/2022</td>
        <td>5.00</td>
        <td>Realizada</td>
    </tr> 
    <tr>
        <td>345342</td>
        <td>Karol</td>
        <td>Quiel</td>
        <td>Panamá Centro</td>
        <td>Arreglo personalizado</td>
        <td>20/03/2022</td>
        <td>50.00</td>
        <td>Rechazado</td>
    </tr> 

    <tr>
        <td>3785302</td>
        <td>Alanis</td>
        <td>Gomez</td>
        <td>Panamá Centro</td>
        <td>Vela con forma de estrella</td>
        <td>19/05/2022</td>
        <td>15.00</td>
        <td>Realizado</td>
    </tr> 
</table>