<table>

    <caption><h1 color="black">Listado de Productos</h1></caption>

<tr>
    <th>Nombre del producto</th>

    <th colspan="2">
        <% if(pagina == 11){} %>
         <a href="agregarproducto" class="agregar"> Agregar </a>
        </th>
</tr> 

    <tr>
        <td>Velas aromaticas</td>
        <td>
            <% if(pagina == 11){} %> 
            <a style="color: black;" href="editarproducto" class="boton"> Editar </a>
         </td>
        <td> <button class="boton" onclick= ""> Eliminar </button> </td>
    </tr>

    <tr>
        <td>Platos de ceramica</td>
        <td>
            <% if(pagina == 11){} %> 
             <a style="color: black;" href="editarproducto" class="boton"> Editar </a>
         </td>
        <td> <button class="boton" onclick= ""> Eliminar </button> </td>
    </tr> 

    <tr>
        <td>Aceite escencial</td>
        <td> 
            <% if(pagina == 11){} %> 
            <a style="color: black;" href="editarproducto" class="boton"> Editar </a>
         </td>
        <td> <button class="boton" onclick= ""> Eliminar </button> </td>
    </tr> 

    <tr>
        <td>Vela aromatica en forma de estrella</td>
        <td>
            <% if(pagina == 11){} %> 
             <a style="color: black;" href="editarproducto" class="boton"> Editar </a>
         </td>
        <td> <button class="boton" onclick= ""> Eliminar </button> </td>
    </tr> 
</table>
